<h1>Ask a question to your coach</h1>

<form action="/answer" method="get" class="question-form">
  <input type="text" name="question" class="question-field">
  <input type="submit" value="Ask!" class="btn">
</form>
